<h1><%= @patient.name %></h1>
<p>Appointments:<br>
  <ul>
    <% @patient.appointments.each do |appointment| %>
      <li><%= appointment.appointment_datetime.strftime("%B %d, %Y at %I:%M:%S %p") %> | <%= link_to appointment.doctor, appointment_path(appointment) %></li>
    <% end %>
  </ul>
</p>
