<h1><%= @doctor.name %> | <%= @doctor.department %></h1>
<p>Appointments:<br>
  <ul>
    <% @doctor.appointments.each do |appointment| %>
      <li><%= appointment.datetime %> | <%= link_to appointment.patient, patient_path %>
    <% end %>
  </ul>
</p>
